<!DOCTYPE HTML>
<html>
<head>
    <title>Kon Khay Hoi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/bootstrap/assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>
<body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">

            <nav id="nav">
                <ul>
                    <li class="special">
                       @Html.ActionLink("เข้าสู่ระบบ/สมัครสมาชิก","login","login")
                    </li>
                </ul>
            </nav>
        </header>

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>คน ขาย หอย</h2>
                <p>
                    เว็บการจัดการฟาร์มหอย<br />
                    และพบปะร้านรับซื้อ<br /><br>
                    <img src="~/bootstrap/style/images/hoi.png">
                </p>
            </div>
        </section>
    </div>

    <!-- Scripts -->
    <script src="~/bootstrap/assets/js/jquery.min.js"></script>
    <script src="~/bootstrap/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/bootstrap/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/bootstrap/assets/js/skel.min.js"></script>
    <script src="~/bootstrap/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/bootstrap/assets/js/main.js"></script>

</body>
</html>

