<!DOCTYPE html>
<html>
<head>
    
    <title>Kon Khay Hoi - My ASP.NET Application</title>
   
   
</head>
<body>
   

    <div >
        @RenderBody()
        
       
    </div>

   
</body>
</html>